<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
     Chambita
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-checkbox expand="blick" color="success" style="margin-top: 30px; margin-left: 10px;">Opción 1</ion-checkbox>
  <ion-checkbox expand="blick" color="success" style="margin-top: 30px; margin-left: 10px;">Opción 2</ion-checkbox>
  <ion-checkbox expand="blick" color="success" style="margin-top: 30px; margin-left: 10px;">Opción 3</ion-checkbox>
  <ion-checkbox expand="blick" color="success" style="margin-top: 30px; margin-left: 10px;">Opción 4</ion-checkbox>
</ion-content>
