<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina de inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button expand="full" routerLink="/alert">Hola Mundo</ion-button> -->
  <ion-list>
    <ion-item>
      <ion-label expand="full" routerLink="/alert">Alerta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label expand="full" routerLink="/chamba">Mi primera Chamba</ion-label>
    </ion-item>
    <ion-item>
      <ion-label expand="full" routerLink="/souk">I'm baby souk</ion-label>
    </ion-item>
    <ion-item>
      <ion-label expand="full" routerLink="/paginita">Páginita</ion-label>
    </ion-item>
    <ion-item>
      <ion-label expand="full" routerLink="/x3">No entres aquí X^3</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
